body{
    text-align: center;
    margin: top 50px;
}

img{
    width: 200px;
    height: auto;
    margin: 20px;
}
button{
    padding: 15px 25px;
    font-size: 17px;
    cursor: pointer;
    
}